#### Python Data Structures and Boolean
- Boolean
- Boolean and Logical Operators
- Lists
- Comparison operators
- Dictionaries
- Tuples
- Sets
- Boolean Variables
- Boolean values are the two constant objects False and True.

They are used to represent truth values (other values can also be considered false or true).

In numeric contexts (for example, when used as the argument to an arithmetic operator), they behave like the integers 0 and 1, respectively.

The built-in function bool() can be used to cast any value to a Boolean, if the value can be interpreted as a truth value

They are written as False and True, respectively.

In [33]:
False

False

In [34]:
print(True,False)

True False

In [35]:
type(True)

bool

In [36]:
type(False)

bool

In [37]:
my_string="Sagar Rana"

In [38]:
my_string

'Sagar Rana'

In [39]:
my_string.capitalize()

'Sagar rana'

In [40]:
print(my_string.isalnum()) #check if all char are numbers
print(my_string.isalpha()) #check if all char in the string are alphabetic
print(my_string.isdigit()) #test if string contains digits
print(my_string.istitle()) #test if string contains title words
print(my_string.isupper()) #test if string contains upper case
print(my_string.islower()) #test if string contains lower case
print(my_string.isspace()) #test if string contains spaces
print(my_string.endswith('a')) #test if string endswith a d
print(my_string.startswith('S')) #test if string startswith H

False
False
False
True
False
False
False
True
True

#### Boolean and Logical operators

In [41]:
True and True

True

In [42]:
True and False

False

In [43]:
False and True

False

In [44]:
False and False

False

In [45]:
str_example='Sagar Rana'
str_example1='Mumbai'

In [46]:
str_example.isupper() and str_example1.islower()

False

##### Lists
A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements. Each element or value that is inside of a list is called an item. Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]

In [47]:
type([])

list

In [48]:
lst_example=[]
type(lst_example)

list

In [49]:
lst=list()
type(lst)

list

In [50]:
lst=['Sagar','Loves_Python',100,500,210,8785412,"koshal","Loves_devops"]

In [51]:
len(lst)

8

In [52]:
type(lst)

list

##### Append

In [53]:
#Append is used to add elements in the list
lst.append("kunjay")

In [54]:
lst

['Sagar',
 'Loves_Python',
 100,
 500,
 210,
 8785412,
 'koshal',
 'Loves_devops',
 'kunjay']

In [55]:
lst.append(
"love coding")

In [56]:
lst

['Sagar',
 'Loves_Python',
 100,
 500,
 210,
 8785412,
 'koshal',
 'Loves_devops',
 'kunjay',
 'love coding']

In [57]:
#indexing in the list
lst[2:]

[100, 500, 210, 8785412, 'koshal', 'Loves_devops', 'kunjay', 'love coding']

#### insert

In [58]:
## Insert in list
lst.insert(1,5)

In [59]:
lst

['Sagar',
 5,
 'Loves_Python',
 100,
 500,
 210,
 8785412,
 'koshal',
 'Loves_devops',
 'kunjay',
 'love coding']

In [60]:
lst.append(["Hiii welcome to python most popular langugage in world"])

In [61]:
lst

['Sagar',
 5,
 'Loves_Python',
 100,
 500,
 210,
 8785412,
 'koshal',
 'Loves_devops',
 'kunjay',
 'love coding',
 ['Hiii welcome to python most popular langugage in world']]

#### Extend Method

In [63]:
lst_example2=[213,74,54,512,567,5123,13543,5453132,14,53432,1.24,3753,431,321321]

In [66]:
lst_example2.extend([8,90])

In [67]:
lst_example2

[213,
 74,
 54,
 512,
 567,
 5123,
 13543,
 5453132,
 14,
 53432,
 1.24,
 3753,
 431,
 321321,
 8,
 90]

###### Various operations that we can perform in list

In [69]:
lst=[8,54,654,54132,7435,4132,1231]
sum(lst)

67646

In [70]:
lst*8

[8,
 54,
 654,
 54132,
 7435,
 4132,
 1231,
 8,
 54,
 654,
 54132,
 7435,
 4132,
 1231,
 8,
 54,
 654,
 54132,
 7435,
 4132,
 1231,
 8,
 54,
 654,
 54132,
 7435,
 4132,
 1231,
 8,
 54,
 654,
 54132,
 7435,
 4132,
 1231,
 8,
 54,
 654,
 54132,
 7435,
 4132,
 1231,
 8,
 54,
 654,
 54132,
 7435,
 4132,
 1231,
 8,
 54,
 654,
 54132,
 7435,
 4132,
 1231]

######  Pop Method

In [72]:
sagar=[54454534,7854,5123,75,4231,2432,4534,1,24534]

In [74]:
sagar

[54454534, 7854, 5123, 75, 4231, 2432, 4534, 1, 24534]

In [76]:
sagar.pop()

24534

In [77]:
sagar

[54454534, 7854, 5123, 75, 4231, 2432, 4534, 1]

In [78]:
sagar.pop(1 and 2)

5123

In [79]:
sagar

[54454534, 7854, 75, 4231, 2432, 4534, 1]

###### Count(): Calculates total occurances of given elements of list

In [80]:
num=[45325,54,53,545,321,37,354,12,1234,5342,12,434]

In [82]:
num.count(1)

0

In [83]:
# Length :calculate total length of list
len(num)

12

In [87]:
# index(): Returns the index  of first occurrence.Start and End index are not necessary parameters
num.index(54)

1

In [88]:
# Min and Max
min(num)

12

In [89]:
max(num)

45325

#### SETS
A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements. Python's set class represents the mathematical notion of a set.This is based on a data structure known as a hash table

In [90]:
## Defining the an empty set

In [93]:
srt=set()
type(srt)

set

In [94]:
set_Var={1,2,1,24534,6545}
set_Var

{1, 2, 6545, 24534}

####  Nestead dictionary

In [95]:
car1_model={"BMW":2000}
car2_model={"Maruti":800}
car3_model={"Loborgini",2021}
car_type={'Car1':car1_model,'Car2':car2_model,'Car3':car3_model}
print(car_type)

{'Car1': {'BMW': 2000}, 'Car2': {'Maruti': 800}, 'Car3': {'Loborgini', 2021}}